<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jihee's Portfolio Page</title>

    <link href="css/reset.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/master.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <main id="app">
        <h1 class="hidden">Hello, This is Jihee's Portfolio Website!</h1>
    <!-- container wrapper -->
    <div class="container-wrapper">
        <!-- Header -->
        <header>
            <div class="logo">
                <a href="index.html"><img src="images/logo.svg" alt="logo" width="80px" height="80px"></a>
            </div>

            <!-- Main nav -->
            <nav class="mNav" :class="{'change':showNavBar}">
                <h2 class="hidden">navigation</h2>
                <div @click="showNav" class="hamburger-menu">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>

                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="portfolio.html" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- End Main nav -->
        </header>
        <!-- End Header -->
        
        <!--Portfolio Main Content-->
        <section id="port-Mcontent" class="box">
            <h2 class="hidden">portfolio main content</h2>
            <!--port-text start-->
            <div class="port-text">
                <div class="port-sub-text">
                    <h3>MY GALLERY</h3>
                    <div class="port-sub-line">
                    </div>
                </div>
                <div class="port-mainText">
                    <h3 class="port-jihees">Jihee's</h3>
                    <h3>Portfolio</h3> 
                </div>
        </section>
        <div class="portIllust">
            <!-- <img src="images/index-main-flower.svg" alt="flower"> -->
            
              
        </div>
        <!--End Portfolio Main Content-->

        <!--Demo reel Content-->
        <section id="demo-content" class="box">
            <h2 class="hidden">demo reel content</h2>
            <component :is="activeComponent" :item="currentItem" :videolist="videoList"></component>
            <lightbox  :item="currentItem" :videolist="videoList"></lightbox>
            <div class="video-btns-container">
                <buttoncomponent v-for="item in collection" :item="item" :key="item.id" @setvideo="setVideoComponent"></buttoncomponent>
            </div>
            
                
            </lightbox>

            <!-- <div class="lightbox">
                <video class="demo-reel" src="videos/demo-reel.webm" type="video/mp4" controls="true"></video>
                <img class="close" src="images/icon-close.svg" alt="close icon" width="25px" height="25px">
            </div> -->
            <!-- <div class="video-img">
            <img class="thumb" src="images/port-demo-thumb.jpg" alt="demo reel thumb">
            </div>
            <div class="video-content">
                <video class="demo-reel" src="videos/demo-reel.webm" type="video/mp4" controls="true"></video>
                <img class="close" src="images/icon-close.svg" alt="close icon" width="25px" height="25px">
            </div> -->
        
            <!-- <div class="video-btns">
                <img src="images/btn-deem-reel.png" alt="demo reel button">
                <img src="images/btn-promo.png" alt="promo video button">
                <img src="images/btn-kids.png" alt="kids channel button">
            </div> -->
        </section>
        <!--End Demo reel Content-->

        <!--Project Content-->
        <section id="project-content" class="box">
            <h2 class="hidden">project content</h2>
            <ul class="proj-box">

                <graphic-card v-for="graphic in collection" :graphic="graphic" :key="graphic.id"></graphic-card>
                <!-- <li class="proj-item">
                    <div class="proj-text">
                        <h3>01&nbsp;</h3>
                        <h3 class="proj-name">project name</h2>
                        <p class="proj-descrip"></p>
                    </div>
                    <div class="proj-img">
                        <img src="images/port-bottle.jpg" alt="">
                    </div>
                    
                </li>
                <li class="proj-item">
                    <div class="proj-text">
                        <h3>&nbsp;02</h3>
                        <h3 class="proj-name">project name</h3>
                        <p class="proj-descrip"></p>
                    </div>
                    <div class="proj-img">
                        <img src="images/port-bee.jpg" alt="">
                    </div>
                </li>
                <li class="proj-item">
                    <div class="proj-text">
                        <h3>03&nbsp;</h3>
                        <h3 class="proj-name">project name</h3>
                        <p class="proj-descrip"></p>
                    </div>
                    <div class="proj-img">
                        <img src="images/port-piz.jpg" alt="">
                    </div>
            
                </li>
                <li class="proj-item">
                    <div class="proj-text">
                        <h3>&nbsp;04</h3>
                        <h3 class="proj-name">project name</h3>
                        <p class="proj-descrip"></p>
                    </div>
                    <div class="proj-img">
                    </div>
                    
                </li>  -->
            </ul>
        </section>
        <!--End Project Content-->

         <!--footer-->
         <footer id="footer">
            <h2 class="hidden">footer</h2>
            <div class="copyright">
                <h3>COPYRIHGT &copy; 2020 JIHEEYU</h3>
            </div>
            <div class="sns">
                <img class="sns-icon" src="images/instagram.svg" alt="instagram icon"><h3>INSTARGRAM</h3>
                <img class="sns-icon" src="images/facebook.svg" alt="facebook icon"><h3>FACEBOOK</h3>
            </div>
        </footer>
        <!--End footer-->
        
    </div>
    <!-- End container wrapper -->
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src='js/main.js' type='module'></script>
</body>
</html>