.contact-title {
    font-weight: 300;
    letter-spacing: 5px;
    font-style: italic;
    font-size:28px;
    margin: 80px 0 80px 0;
}

#contact-section {
    display: flex;
    justify-content: center;
}

.contact-sub-line {
    display: block;
    height: 1px;
    width: 1000px;
    background-color: $main-text-color;
    margin-left: 5em;
    margin-bottom: 15px;
}

.contact-info {
    width: 500px;
    height: 120px;
    // background-color: #f08080;
    align-self: center;
    padding-left: 150px;

    h3 {
        font-size: 20px;
        letter-spacing: 2px;
        font-family: $main-font;
        font-weight: 700;
        line-height: 3em;
        img {
            vertical-align: middle; margin-right: 20px;
        }
        .add-icon {
            margin: 0;
        }
    }

}

#mail-form {
    width: 400px;
    // background-color: lightgreen;
    align-self: center;
}

label { 
    display: block;
    margin: 1.5em 0 0.3em;

    padding-left: 0.4em;

    &:first-of-type {
        margin-top: 0;
    }
}

input[type=text], input[type=email], textarea {
    padding: 1.3em;
    @include boxShadow(inset 1px 1px 3px rgba(56, 55, 55, 0.2));
    margin: 10px 0;
    border-radius: 30px;
    width: 400px;
    border-style: none;
}

input::placeholder, textarea::placeholder {
    color: #b0b0b0;
    font-size: 1.1em;
}

textarea { resize: none; font-family: $sub-font; border-radius: 25px;}

select {
    padding: .6em;
    color: #333;
    border-radius: 30px;
    width: 400px;
}

.submit-wrapper {

    @include linearGradient(90deg, rgba(156,241,240,1) 0%, rgba(153,240,187,1) 50%, rgba(254,242,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9cf1f0",endColorstr="#fef281",GradientType=1);
    border: none;
    border-radius: 30px;
    @include boxShadow(1px 1px 4px rgba(56, 55, 55, 0.1));
    width: 400px;
    color: white;
    padding: 15px 30px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    &:hover { background-color: #5588c8}

    span { padding-right: 0.5em; }
}