#home {
    background: url(../images/background-big.png) no-repeat center;
}

#main-content {

    display: flex;
    align-items: center;
}

.Text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1100px;
    // background-color: chartreuse;
    position: relative;
    z-index: +1;
    color:$main-text-color;
}

.subText {
    font-weight: 300;
    letter-spacing: 5px;
    font-style: italic;
    display: flex;
    align-items: center;
    font-size:28px;
    // background-color: darkcyan;
    margin-bottom: 50px;
}

.subLine {
    margin-right: 20px;
    display: block;
    height: 1px;
    width: 455px;
    background-color: $main-text-color;
}


.mainText {

    width: 800px;
    text-align: left;
    // background-color: #a9a9a9;
    align-self: flex-end;

    

    .drawing {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $main-text-color;
        font-size: 80px;
        margin-left: 50px;
        

    }

    h3 {
        font-family: $main-font;
        font-size: 100px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: 3px;
    }

}

.mainIllust {
    width: 640px;
    height: 640px;
    position:absolute;
    right: 200px;
    top: 180px;
    background: url(../images/flower.svg) no-repeat center;
}

#flower {
    width: 400px;
    height: 600px;
}

.Animate-Draw {
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;
    
    animation-name: DrawLine, FadeStroke, FillIn;
    animation-duration: 4s, 1s, 1s;
    animation-delay: 0s, 3.5s, 3.5s;
  }

  @keyframes DrawLine {
    to { stroke-dashOffset: 0; }
  }
  
  @keyframes FadeStroke {
    to { stroke-opacity: 0; }
  }
  
  @keyframes FillIn {
    from { fill-opacity: 0; }
    to { fill-opacity: 1; }
  }

// @keyframes flower {
//     from {
//         stroke-dashoffset: 1000;
//         }
//         to {
//         stroke-dashoffset: 0;
//         }
// }
#flower-path1 {
    stroke-dashArray: 500;
    stroke-dashoffset: 500;
}

#flower-path2 {
    stroke-dashArray: 300;
    stroke-dashoffset: 300; 
}

#flower-path3 {
    stroke-dashArray: 500;
    stroke-dashoffset: 500; 
}


h2 {
    font-family: $sub-font;
    font-weight: 300;
    font-style: italic;
    font-size: 28px;
    padding-top: 80px;
    text-align: center;
    margin: 50px 0 100px 0;
    letter-spacing: 5px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}


.portfolio-imgs {
    // background-color: lightcoral;
    flex-basis: 55%;
    text-align: center
}


#aboutMe-content {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

#portfolio-content .graphic {
    width: 400px;
}

.graphic {

    h3 {
        text-align: left;
    }

    .adj {
        text-align: right;
    }
}

.button-section {
    // background-color: yellowgreen;
    text-align: center;
    align-self: center;
    width: 500px;
    

    h3 {
        font-family: $main-font;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;
   }

   p {
        font-size: 20px;
        margin-top: 30px;
        line-height: 25px;
   }

   .adj {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $main-text-color;
        font-size: 60px;
        letter-spacing: 3px;
   
    }
   
}

.my-selfie {
    margin: 0 50px;
    position: relative;
}

.deco-line {
    position: absolute;
    left: -80px;
    bottom: 300px
}

.my-info{
    width: 500px;
    align-self: center;

    h4 {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    
    h5 {
        font-weight: 300;
        letter-spacing: 2px;
        color: $sub-text-color;
        font-size: 18px;
        line-height: 25px;
        height: 50%;
    }
    p {
        color: $sub-text-color;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        margin-left: 30px;
    }

    .college-info {
        font-style: italic;
        font-size: 16px;   
        letter-spacing: 1px;
    }

    .college {
        margin-bottom: 0;
    }

}

.skill-graph {
    height: 10px;
    width: 70px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
}

.button {
    @include linearGradient(90deg, rgba(156,241,240,1) 0%, rgba(153,240,187,1) 50%, rgba(254,242,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9cf1f0",endColorstr="#fef281",GradientType=1);
    border: none;
    border-radius: 30px;
    @include boxShadow(1px 1px 4px rgba(56, 55, 55, 0.1));
    color: white;
    padding: 15px 30px;
    margin-top:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.skill-text-container {
    display: flex;

}



