#app {
    overflow-x: hidden;
    position: relative;
}
html {
    box-sizing: border-box;
 
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}

body {
    font-family: $sub-font;
    color: $main-text-color;
}

img, embed, object, video {
    max-width: 100%; }

img {
    -ms-interpolation-mode: bicubic;
    }    

.hidden {
    display: none;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0;
    
}

.box {
    flex-basis: 100vh;
}

footer {
    background-color: white;
    box-shadow: 1px 0px 4px rgba(56, 55, 55, 0.1);
    height:80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
    z-index: 2;

    h3 {
        font-size: 10px;
        letter-spacing: 2px;
        color: $sub-text-color;
        margin: 0 50px;
    }
}

.sns {
    display: flex;
    // background-color: darksalmon;
    

    h3 {
        align-self: center;
        margin-left: 10px;
    }
}

.sns-icon {
    width: 20px;
    height: 20px;
}