html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}

body {
    font-family: 'Noto Sans', sans-serif;
}

main {
    background: url(../images/background.png) no-repeat center;
    width: 100%;
    
}

.hidden {
    display: none;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
}

.box1 {
    border: solid 1px yellow;
    height: 100vh;
}

.box2 {
    border: solid 1px green;
    height: 100vh;
}

.box3 {
    border: solid 1px blue;
    height: 100vh;
}

footer {
    background-color: darkorchid;
    height:80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
}

.copyright {
    background-color: darkred;
    height: 60px;
    width: 150px;
    
}

.sns {
    background-color: darksalmon;
    height: 60px;
    width: 150px;
}