html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit; 
}

body {
    font-family: "NotoSans-Regular", serif;
    color: $main-text-color;
}

.hidden {
    display: none;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    
}

.box {
    border: solid 1px yellow;
    height: 100vh;
}

footer {
    background-color: darkorchid;
    height:80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
}

.copyright {
    background-color: darkred;
    height: 60px;
    width: 150px;
    
}

.sns {
    background-color: darksalmon;
    height: 60px;
    width: 150px;
}