
@media screen and (max-width: 768px) {
  .nav-list {
      position: absolute;
      right: 0;
      background: $pink;
      height: 92vh;
      z-index: 0;
  }
}

@media screen and (max-width: 1300px) {
    .nav-list {
        width: 50%;
    }
  }