@mixin linearGradient($position,$colorOne,$colorTwo,$colorThree) { 
    background: -webkit-linear-gradient($position,$colorOne,$colorTwo,$colorThree);
    background: -moz-linear-gradient($position,$colorOne,$colorTwo,$colorThree);
    background: -ms-linear-gradient($position,$colorOne,$colorTwo,$colorThree);
    background: -o-linear-gradient($position,$colorOne,$colorTwo,$colorThree);
    background: linear-gradient($position,$colorOne,$colorTwo,$colorThree);  
  }

@mixin boxShadow($property) {
  box-shadow: $property;
  -webkit-box-shadow:$property;
  -moz-box-shadow:$property;
  -o-box-shadow:$property;
  -ms-box-shadow:$property;
}
